header.header
    .container
        .main-head
            a.logo(href="index.html")
                img(src="static/images/general/logo.png")
            nav.main-nav
                ul.nav-list
                    li.nav-list__item
                        a.nav-list__link Почему мы?
                    li.nav-list__item
                        a.nav-list__link Номера
                    li.nav-list__item
                        a.nav-list__link Отзывы
                    li.nav-list__item
                        a.nav-list__link Как нас найти
