.hotel-room__item
    picture.hotel-room-picture
        //source(srcset="static/images/content/cat-1.webp 1x" media=("max-width: 1024px"))
        //source(type="image/webp" srcset="static/images/content/cat-1.webp 1x, static/images/content/cat-1@2x.webp 2x")
        img.hotel-room-pic(srcset="static/images/content/cat-1@2x.jpg 2x" src="static/images/content/cat-1.jpg" alt="cat")
    .hotel-room-content
        h2.hotel-room-title Эконом
        p.hotel-room-content__item
            span.hotel-room-subtitle Размеры (ШхГхВ) -
            span 90х70х180 см
        p.hotel-room-content__item
            span.hotel-room-subtitle Площадь -
            span 0,63 м2
        p.hotel-room-content__item
            span.hotel-room-subtitle Оснащение номера
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-1")
        p.hotel-room-content__item.hotel-room-content__item--inner
            span.hotel-room-subtitle Цена за сутки:
            span.hotel-room-price 100 ₽
        a(href="").hotel-room-btn
            span Забронировать
            span.hotel-room-btn__icon-wrapp
                svg
                    use(xlink:href="#paw")
.hotel-room__item
    img.hotel-room-pic(srcset="static/images/content/cat-2@2x.jpg 2x" src="static/images/content/cat-2.jpg" alt="cat")
    .hotel-room-content
        h2.hotel-room-title Эконом плюс
        p.hotel-room-content__item
            span.hotel-room-subtitle Размеры (ШхГхВ) -
            span 90х100х180 см
        p.hotel-room-content__item
            span.hotel-room-subtitle Площадь -
            span 0,90 м2
        p.hotel-room-content__item
            span.hotel-room-subtitle Оснащение номера
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-2")
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-3")
        p.hotel-room-content__item.hotel-room-content__item--inner
            span.hotel-room-subtitle Цена за сутки:
            span.hotel-room-price 200 ₽
        a(href="").hotel-room-btn
            span Забронировать
            span.hotel-room-btn__icon-wrapp
                svg
                    use(xlink:href="#paw")
.hotel-room__item
    img.hotel-room-pic(srcset="static/images/content/cat-3@2x.jpg 2x" src="static/images/content/cat-3.jpg" alt="cat")
    .hotel-room-content
        h2.hotel-room-title Комфорт
        p.hotel-room-content__item
            span.hotel-room-subtitle Размеры (ШхГхВ) -
            span 100х125х180 см
        p.hotel-room-content__item
            span.hotel-room-subtitle Площадь -
            span 1,13 м2
        p.hotel-room-content__item
            span.hotel-room-subtitle Оснащение номера
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-2")
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-3")
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-4")
        p.hotel-room-content__item.hotel-room-content__item--inner
            span.hotel-room-subtitle Цена за сутки:
            span.hotel-room-price 250 ₽
        a(href="").hotel-room-btn
            span Забронировать
            span.hotel-room-btn__icon-wrapp
                svg
                    use(xlink:href="#paw")
.hotel-room__item
    img.hotel-room-pic(srcset="static/images/content/cat-4@2x.jpg 2x" src="static/images/content/cat-4.jpg" alt="cat")
    .hotel-room-content
        h2.hotel-room-title Сьют
        p.hotel-room-content__item
            span.hotel-room-subtitle Размеры (ШхГхВ) -
            span 125х125х180 см
        p.hotel-room-content__item
            span.hotel-room-subtitle Площадь -
            span 1,56 м2
        p.hotel-room-content__item
            span.hotel-room-subtitle Оснащение номера
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-2")
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-3")
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-4")
        p.hotel-room-content__item.hotel-room-content__item--inner
            span.hotel-room-subtitle Цена за сутки:
            span.hotel-room-price 350 ₽
        a(href="").hotel-room-btn
            span Забронировать
            span.hotel-room-btn__icon-wrapp
                svg
                    use(xlink:href="#paw")
.hotel-room__item
    img.hotel-room-pic(srcset="static/images/content/cat-5@2x.jpg 2x" src="static/images/content/cat-5.jpg" alt="cat")
    .hotel-room-content
        h2.hotel-room-title Люкс
        p.hotel-room-content__item
            span.hotel-room-subtitle Размеры (ШхГхВ) -
            span 160х160х180 см
        p.hotel-room-content__item
            span.hotel-room-subtitle Площадь -
            span 2,56 м2
        p.hotel-room-content__item
            span.hotel-room-subtitle Оснащение номера
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-2")
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-3")
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-4")
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-5")
        p.hotel-room-content__item.hotel-room-content__item--inner
            span.hotel-room-subtitle Цена за сутки:
            span.hotel-room-price 500 ₽
        a(href="").hotel-room-btn
            span Забронировать
            span.hotel-room-btn__icon-wrapp
                svg
                    use(xlink:href="#paw")
.hotel-room__item
    img.hotel-room-pic(srcset="static/images/content/cat-6@2x.jpg 2x" src="static/images/content/cat-6.jpg" alt="cat")
    .hotel-room-content
        h2.hotel-room-title Супер-Люкс
        p.hotel-room-content__item
            span.hotel-room-subtitle Размеры (ШхГхВ) -
            span 180х160х180 см
        p.hotel-room-content__item
            span.hotel-room-subtitle Площадь -
            span 2,88 м2
        p.hotel-room-content__item
            span.hotel-room-subtitle Оснащение номера
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-2")
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-3")
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-4")
            span.hotel-room-icon-wrapp
                svg
                    use(xlink:href="#icon-5")
        p.hotel-room-content__item.hotel-room-content__item--inner
            span.hotel-room-subtitle Цена за сутки:
            span.hotel-room-price 600 ₽
        a(href="").hotel-room-btn
            span Забронировать
            span.hotel-room-btn__icon-wrapp
                svg
                    use(xlink:href="#paw")
