.sidebar {
  width: 18%;
}
.sidebar-form__item {
  margin-bottom: 35px;
}
.sidebar-form-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}
.sidebar-form-input-wrapp {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  input[type="checkbox"] {
    display: none;
    width: 0;
    height: 0;
  }
  label {
    position: relative;
    padding-left: 30px;
  }
}
input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #E1E1E1;
}
input[type="checkbox"]:checked + label::before {
  content: "\2714";
  text-align: center;
  color: #1A212F;
}
.sidebar-form-input-wrapp-price {
  display: flex;
  justify-content: space-between;
  input {
    width: 100px;
    height: 24px;
    display: block;
    border: 1px solid #E1E1E1;
    padding: 0 5px;
  }
}
.sidebar-form-btn {
  width: 100%;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAC663;
  border: 2px solid #FAC663;
  border-radius: 25px;
  margin-bottom: 20px;
  transition: all .3s ease-in-out;
  &:hover {
    background: transparent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.sidebar-form-btn--reset {
  background: transparent;
  border: 2px solid #FAC663;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    background: #FAC663;
    box-shadow: none;
  }
}
