@font-face {
  font-family: 'latoregular';
  src: url('../../static/fonts/Lato/latoregular-webfont.eot');
  src: url('../../static/fonts/Lato/latoregular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../static/fonts/Lato/latoregular-webfont.woff2') format('woff2'),
  url('../static/fonts/Lato/latoregular-webfont.woff') format('woff'),
  url('../../static/fonts/Lato/latoregular-webfont.ttf') format('truetype'),
  url('../static/fonts/Lato/latoregular-webfont.svg#latoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'latomedium';
  src: url('../../static/fonts/Lato/latomedium-webfont.eot');
  src: url('../../static/fonts/Lato/latomedium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../static/fonts/Lato/latomedium-webfont.woff2') format('woff2'),
  url('../../static/fonts/Lato/latomedium-webfont.woff') format('woff'),
  url('../../static/fonts/Lato/latomedium-webfont.ttf') format('truetype'),
  url('../../static/fonts/Lato/latomedium-webfont.svg#latomedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'latosemibold';
  src: url('../../static/fonts/Lato/latosemibold-webfont.eot');
  src: url('../../static/fonts/Lato/latosemibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../static/fonts/Lato/latosemibold-webfont.woff2') format('woff2'),
  url('../../static/fonts/Lato/latosemibold-webfont.woff') format('woff'),
  url('../../static/fonts/Lato/latosemibold-webfont.ttf') format('truetype'),
  url('../../static/fonts/Lato/latosemibold-webfont.svg#latosemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'rubikregular';
  src: url('../../static/fonts/Rubik/rubik-webfont.eot');
  src: url('../../static/fonts/Rubik/rubik-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../static/fonts/Rubik/rubik-webfont.woff2') format('woff2'),
  url('../../static/fonts/Rubik/rubik-webfont.woff') format('woff'),
  url('../../static/fonts/Rubik/rubik-webfont.ttf') format('truetype'),
  url('../../static/fonts/Rubik/rubik-webfont.svg#rubikregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'rubikbold';
  src: url('../../static/fonts/Rubik/rubikbold-webfont.eot');
  src: url('../../static/fonts/Rubik/rubikbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../static/fonts/Rubik/rubikbold-webfont.woff2') format('woff2'),
  url('../../static/fonts/Rubik/rubikbold-webfont.woff') format('woff'),
  url('../../static/fonts/Rubik/rubikbold-webfont.ttf') format('truetype'),
  url('../../static/fonts/Rubik/rubikbold-webfont.svg#rubikbold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'rubikmedium';
  src: url('../../static/fonts/Rubik/rubikmedium-webfont.eot');
  src: url('../../static/fonts/Rubik/rubikmedium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../static/fonts/Rubik/rubikmedium-webfont.woff2') format('woff2'),
  url('../../static/fonts/Rubik/rubikmedium-webfont.woff') format('woff'),
  url('../../static/fonts/Rubik/rubikmedium-webfont.ttf') format('truetype'),
  url('../../static/fonts/Rubik/rubikmedium-webfont.svg#rubikmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
