// Colors
$white: #ffffff;
$light: #FFFEFD;
$black: #000000;
$dark: #1A212F;

// Sizes
$breakpoints: (
        "phone"       : 400px,
        "phone-wide"  : 480px,
        "phablet"     : 560px,
        "tablet-small": 640px,
        "tablet"      : 768px,
        "tablet-wide" : 1024px,
        "desktop"     : 1248px,
        "desktop-wide": 1440px
);

$content-size: 1200px;

// Fonts
$base-font-size: 14px;
$base-font-style: 'latoregular', 'Arial', sans-serif;
