.header {
  min-height: 74px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all .3s;
}
.main-head {
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .3s;
}
.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 2;
  .main-head {
    height: 60px;
  }
}
